nav {
	text-align: left;
	font-family: fantasy;
	padding: 50px;
	background-color: #1e3c4c;
	-webkit-color: white;
	font-size: 15px;
	word-spacing: 1cm;
}
.link1 a{
	color:#b7e9c2;
	text-decoration: none;
	font-family: arial;
}
label {
	margin-left: 1px;
	font-size: 25px;
	display: none;
	float: left;
}
#toggle {
	display: none;
}
footer {
	background-color: #1e3c4c;
	color: white;
	text-align: right;
	padding: 20px;
}
body {
	background-color: #b7e9c2;
	text-align: center;
}	
.img1 {
	border: 1px solid black;
	margin-bottom: auto;
	width: 150px 
	height:1600PX; 

}
.img2 {
	border: 1px solid black;
	width: 170px	
}
.img3 {
	border: 1px solid black;
	width: 150px	
}
.p1 {
	border: 1px ridge #070f05;
	font-size: 25px;
	text-align: left;
	padding: 30px 30px 30px 30px;
	
}
#table {
	font-family: Arial, Helvetica, sans-serif;
  	border-collapse: collapse;
  	width: 70%;
  	font-size: 17px;
}
#table td, #table th {
	border: 1px solid black;
	padding: 8px;
}
#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #9ca1ae;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #1e3c4c;
  color: white;
}
div {
	text-align: left;
	font-family: fantasy;
	word-spacing: 4cm;
}

@media only screen and (max-width: 780px) {
	.link1 {
		text-align: left;
		width: 100%;
		display: none;		
	}
	.link1 a {
		display: block;
		/*border-bottom: 1px solid grey;*/
		margin: 0;
	}

	#table { 
		   width: 100%;
		   font-size: 25px; }label {
		display: block;
		cursor: pointer;
	}
	#toggle:checked + .link {
		display: block;
	}
	
	label {
		display: block;
		cursor: pointer;
		color: white;
	}
	#toggle:checked + .link1 {
		display: block;
	}
		   

	.p1 {
		border: 3px ridge #070f05;
		font-size: 30px;
		padding: 20px 20px 20px 20px;
		width: 80%
		margin: center;
	}
 	.images {
 		width: 70%;
 		margin: auto;
 		position: unset;

 	}
	.img1 , .img2 , .img3 {
		width: 100%;
		height: 100%;
		
	}
	footer {
		width: 100%
		font-size: 20px;
		padding: 50px;
	}
	body {
		position: relative; 
	}	   
}
