nav {
	text-align: left;
	font-family: fantasy;
	padding: 50px;
	background-color: #1e3c4c;
	-webkit-color: white;
	width: 100%;
	font-size: 15px;
	word-spacing: 1cm;
	position: sticky;

}
body {
	background-color: #b7e9c2;
	text-align: center;
	font-size: 19px;

}
footer {
	background-color: #1e3c4c;
	color: white;
	text-align: right;
	padding: 20px; 

}
.link4 a {
	color:#b7e9c2;
	text-decoration: none;
	font-family: arial;
}