body {
	background-color: #b7e9c2;
	text-align: center;

}
.link {
	text-align: left;
	font-family: fantasy;
	padding: 30px;
	background-color: #1e3c4c;
	-webkit-color: white;	
	font-size: 15px;
	word-spacing: 1cm;
}
.link a {
	color:#b7e9c2;
	text-decoration: none;
	font-family: arial;
}
.together {
	width: 80%;
	margin: auto;
	display: flex;
}
.together .image {
	width: 40%;
}
.together .image img {
	width: 100%;
}
.together .text {
	padding: 10px;
	border: 4px solid black;
	border-radius: 58px;
    width: 40%;
    font-size: 30px;
    margin: auto;
   /* margin-left: 30px;
    margin-top: 40px;*/
    height: 100%;
    color: lightcyan;
	-webkit-text-stroke: 2px black; /* vendor prefix */
}
label {
	margin-left: 1px;
	font-size: 25px;
	display: none;
	float: left;
}
#toggle {
	display: none;
}

footer {
	background-color: #1e3c4c;
	color: white;
	text-align: right;
	padding: 20px;
	font-size: 15px;

}
@media  screen and (max-width: 780px) {
	.link {
		text-align: left;
		width: 100%;
		display: none;		
	}
	.link a {
		display: block;
		/*border-bottom: 1px solid grey;*/
		margin: 0;
	}
	.together {
		width: 90%;
		margin: auto;
		display: unset;
}
	.together .image {
	width: 70%;
	margin: auto;
}
	.together .text {
		width: 70%;
	}
	footer {
		padding: 30px;
		font-size: 17px;
		background-color: #1e3c4c;
		color: white;
	}
	label {
		display: block;
		cursor: pointer;
		color: white;
	}
	#toggle:checked + .link {
		display: block;
	}
	
}